# LLM Providers (set the one you use)
OPENAI_API_KEY=
GOOGLE_API_KEY=AIzaSyCB-fzTQrfG8X3uHR3vOQgoF85OLYWp73c
ANTHROPIC_API_KEY=
XAI_API_KEY=
OPENROUTER_API_KEY=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
